body{
    background-color: #202020;
    font-family: 'Nunito', sans-serif;
    color: white;
    text-align: right;
    font-size: 42px;
    margin: 2.5% 20% 2.5% 20%;
    font-size: 1.8rem;
}
a{
    text-decoration: none;
    color: white;
}

/* main */
