{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css -->
    <link rel="stylesheet" href="{% static '/css/main.css' %}">

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;800&display=swap" rel="stylesheet">

    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <title>Welcomer</title>
</head>
<body>
    <section class="nav-bar">
        <nav>
            <a href="/">Home</a>
        </nav>
        <nav>
            <a href="users">Users list</a>
        </nav>
    </section>
    {% block content %}{% endblock content %}
</body>
</html>